<% obj.each do |postagem| %>
<div class="row">
  <div class="col-md-2">
    <section class="jogador_info center">
      <!-- <%= gravatar_for(postagem.jogador, size: 120) %> -->
    </section>
  </div>
  <div class="col-md-8 well">
    <h4 class="font-title">Titúlo: <%= link_to postagem.name, postagem_path(postagem) %></h4>
    <p class="font-title">Conteúdo: <span class="font-title3"><%= truncate(postagem.description, length: 150) %></span></p>
    <% if postagem.itens.any? %>
      <p class="font-title2">Itens: <span class="itens-use"><%= render postagem.itens %></span></p>
    <% end %>
    <p>
    <span class="quiet"><small>Criado há <%= time_ago_in_words(postagem.created_at, include_seconds: true, locale: 'pt') %> por <%= postagem.jogador.jogadorname.capitalize %> | <%= pluralize(postagem.comentarios.count, 'comentário') %></small></span>
    </p>
    <% if logged_in? && (current_jogador == postagem.jogador || current_jogador.admin?) %>
      <div class="postagem-actions postagem-actions-itens">
        <%= link_to "Editar", edit_postagem_path(postagem), class: "btn btn-xs btn-warning" %>
        <%= link_to "Excluir", postagem_path(postagem), method: :delete,
          data: { confirm: "Tem certeza de que deseja excluir esta postagem?" },
          class: "btn btn-xs btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
<% end %>