<div class="background">
  <div class="inner-div">
    <%= render 'shared/page_title', title: @postagem.name %>
    
    <div class="well col-md-8 col-md-offset-2">
      <h4 class="center description"><strong class="font-title">Conteúdo: </strong></h4>
      <br />
      <span class="font-paragraph2"><%= simple_format(@postagem.description) %></span>
      <br />
      <% if @postagem.itens.any? %>
        <p class="font-title">Itens: <%= render @postagem.itens %></p>
      <% end %>
      <div class="pull-right">
        <p class="center">
          <em class="font-paragraph">Criado por:</em>
        </p>
        <p class="center">
          <%= link_to gravatar_for(@postagem.jogador), jogador_path(@postagem.jogador) %>
        </p>
        <p class="center paragraph">
          <small><%= @postagem.jogador.jogadorname.capitalize %></small>
          <div class="pull-right font-paragraph">há <%= time_ago_in_words(@postagem.created_at, include_seconds: true, locale: 'pt') %> atrás</div>
        </p>
      </div>
      <div class="postagem-actions">
        <% if logged_in? && (current_jogador == @postagem.jogador || current_jogador.admin?) %>
          <%= link_to "Editar", edit_postagem_path(@postagem), class: "btn btn-xs btn-warning" %>
          <%= link_to "Excluir", postagem_path(@postagem), method: :delete,
            data: { confirm: "Tem certeza de que deseja excluir esta postagem?" },
            class: "btn btn-xs btn-danger" %>
        <% end %>
        <%= link_to "Voltar à postagens", postagens_path, class: "btn btn-xs btn-primary" %>
      </div>
    </div>
    
    <% if logged_in? %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="page-label">Comentários: </h3>
          <br>
          <%= form_for([@postagem, @comentario], :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
              <div class="control-label col-md-2">
                <%= f.label :description, "Comentar" %>
              </div>
              <div class="col-md-8">
                <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Digite o seu comentário aqui..." %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <%= f.submit "Enviar", class: "nav-butt" %>
              </div>
            </div>
          <% end %>
          <br>
          <br>
        </div>
      </div>
    <% end %>
    
    <% if @postagem.comentarios.any? %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="page-label">Comentários anteriores: </h3>
            <div id="messages">
              <%= render partial: 'comentarios/comentarios', object: @comentarios %>
            </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="page-label">Nenhum comentário ainda!</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>